  <footer id="footer">
    <nav>
      <ul>
        <li><span>Kube</span></li>
        <li>
          <a href="/faq/">About</a>
        </li>
          <li>
          <a href="/docs/">Talks</a>
        </li>
        <li>
          <a href="https://neuroengineering.blog">Check the Blog!</a>
        </li>
      </ul>
    </nav>
      <div class="outer">
      <div id="footer-info" class="inner">
        &copy; {{ now.Format "2006"}}
        {{ with .Site.Params.copyright }}{{ . | markdownify}}{{ end }}
      </div>
    </div>
  </footer>
